
/output
*.pyc
.config.json
*.xcuserstate
/cross
Android-app/CrossPlatform/.idea/misc.xml
Android-app/CrossPlatform/.idea/deploymentTargetSelector.xml
/Android-app/CrossPlatform/.idea
/.vscode
Android-app/CrossPlatform/.idea/misc.xml
/Desktop-app/build
Desktop-app/main.spec
/Desktop-app/dist
Desktop-app/DataDash.spec
/Desktop-app/icon.iconset
/.venv
*.apk
/Android-app/CrossPlatform/app/release
