
/output
*.pyc
.config.json
*.xcuserstate
/cross
Android-app/CrossPlatform/.idea/misc.xml
Android-app/CrossPlatform/.idea/deploymentTargetSelector.xml
/Android-app/CrossPlatform/.idea
Android-app/CrossPlatform/.idea/misc.xml
